 <div
    class="panel panel-default">
        <div class="panel-heading">{{ element.name }}</div>
        <div class="panel-body">
          <p>
            <strong *ngIf="element.type === 'server'" style="color: red">{{ element.content }}</strong>
            <em *ngIf="element.type === 'blueprint'">{{ element.content }}</em>
            <em *ngIf="element.type === 'shmoo'" style="background-color: yellow;">{{ element.content }}</em>
            <em *ngIf="element.type === 'wabaDaba'" style="color: rgb(0, 255, 55);">{{ element.content }}</em>
          </p>
        </div>
      </div>
